<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>newpackage.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>newpackage.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>newpackage.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuerryServlet</servlet-name>
        <servlet-class>newpackage.QuerryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocLogin</servlet-name>
        <servlet-class>newpackage.DocLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnsServlet</servlet-name>
        <servlet-class>newpackage.AnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>newpackage.AnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SugServlet</servlet-name>
        <servlet-class>newpackage.SugServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookApt</servlet-name>
        <servlet-class>newpackage.BookApt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_Details</servlet-name>
        <servlet-class>newpackage.order_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_List</servlet-name>
        <servlet-class>newpackage.order_List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill_pay</servlet-name>
        <servlet-class>newpackage.bill_pay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuerryServlet</servlet-name>
        <url-pattern>/QuerryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocLogin</servlet-name>
        <url-pattern>/DocLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnsServlet</servlet-name>
        <url-pattern>/AnsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SugServlet</servlet-name>
        <url-pattern>/SugServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookApt</servlet-name>
        <url-pattern>/BookApt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_Details</servlet-name>
        <url-pattern>/order_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_List</servlet-name>
        <url-pattern>/order_List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill_pay</servlet-name>
        <url-pattern>/bill_pay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
